*{
	margin: 0;
}
@font-face { 
	font-family: Calibri; 
	src: url("Calibri.eot"),
		 url("Calibri.ttf"); 
} 
@font-face { 
	font-family: Mathilde; 
	src: url("mathilde.eot"),
		 url("mathilde.ttf"); 
}
a{
	text-decoration: none;
    color: #5c5c5c;
}
body{
	font-family: Calibri;
	background: url("images/bg.png");
}
.clear{
	clear: both;
}
.wrapper{
	width: 800px;
	margin: 0 auto;
}
.login img{
    vertical-align: middle;
}
.order_now{
	background: url("images/order_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    font-size: 25px;
    height: 114px;
    margin-top: -32px;
    padding-left: 23px;
    width: 218px;
}
.order_now a{
	color: #FFF0DF;
    display: block;
    height: 70px;
    padding-top: 22px;
    text-align: center;
    width: 195px;
}
.logo{
	font-family: Mathilde;
	font-size: 100px;
	width: 460px;
	height: 160px;
	margin: 0 auto;
}
.menu{
	float: right;
}
.menu li{
	float: left;
    font-size: 20px;
    list-style-type: none;
    margin-left: 60px;
    margin-top: 50px;
}
.product_info .content{
	margin-top: 100px;
	width: 800px;
}
.content h1{
	font-family: Mathilde;
	font-size: 50px;
}
#sketch img{
	float: left;
}
#sketch .description{
	float: right;
	width: 330px;
}
#features img{
	float: right;
}
#features .description{
	width: 330px;
	float: left;
}
#faq img{
    float: left;
}
#faq .description}{
    float: right;
}
#faq li{
    list-style-type: none;
    font-weight: bold;
}
#faq .faq_answers{
    margin-bottom: 21px;
}
.footer{
    width: 500px;
    margin: 80px auto;
}